<body>

    <main>

        <div class="content">

            <h1>Organiza y crea el menu ideal para tu familia.</h1>
        <!--    <p class="subtitle"><strong>Obten practicidad al preparar la comida de la semana</strong> </p> -->
            <p clasS="copy-emojis d-flex flex-column"><span>¿Problemas con escoger entre tu cocina🥘 o tu tiempo⏳?</span>
                <small class="extended fs-5">Con thinkingFood escoge las dos</small></p>
            <div class="d-flex justify-content-center">
                <img src="https://drive.google.com/uc?export=view&id=15oivkjfeADozpxmAv7B4I-aGGvkG5xjF" alt="">
            </div>
            

        </div>

        
    </main>
    <section class="info">
        <div class="info__cont">
            <img src="https://drive.google.com/uc?export=view&id=1YuIEaOPRwlE_KF9wldRqxBzWzKtepZu9">
            <h2>Ahorra tiempo a la semana</h2>
            <p>Comer saludable y agradable podría tomar en <br> la planificación hasta 25% del tiempo libre. <br> Ahorra esas horas y úsalas en otras <br> actividades.</p>
        </div>

        <div class="info__cont">
            <img src="https://drive.google.com/uc?export=view&id=1Cr-NXDdesnX7qyhA-RkLWS-hZDvIdbxc">
            <h2>Haz participar a la familia</h2>
            <p>Thinkingfood esta diseñado para personas que <br> no han tenido la experiencia de haber cocinado <br> para la familia antes. Permite que cada <br> integrante se sume a la cocina.</p>
        </div>

        <div class="info__cont">
            <img src="https://drive.google.com/uc?export=view&id=1-hxoOcJ4dAvFD6Fm5tBrlXsfFoUKfZdV">
            <h2>Ahorra dinero</h2>
            <p>Thinkingfood confia en que las familias que <br> saben qué comprar y cuánto comprar ahorran <br> dinero.</p>
        </div>
        <div class="info__cont">
            <img src="https://drive.google.com/uc?export=view&id=1YzE9zIOsfZK9-da7X5hfiydRipCk77Ri">
            <h2>Evita desperdicios</h2>
            <p>Compra los ingredientes necesarios para tu <br> cocina de la semana y dile adiós a las verduras <br> que terminan dañandose <br> por pasar mucho <br> tiempo guardadas en tu refrigerador.</p>
        </div>
    </section>

    <section class="instructions">
        <div class="instructions__cont">
            <img src="https://drive.google.com/uc?export=view&id=1pUpQo8ub3hfJU7JLKEb8_H2dIaC3lOyW">
            <h2>Llena la trivia</h2>
            <p>Completa las preguntas que nos <br> permitiran sugerirte el mejor plan <br> semanal de acuerdo a tus gustos y <br> preferencias.</p>
        </div>

        <div class="instructions__cont">
            <img src="https://drive.google.com/uc?export=view&id=1u3Koaxsqh00XmnytqmotV8TlTm7ohBIT">
            <h2>Navega por el plan</h2>
            <p>Revisa las recetas clasificadas por días <br> de lunes a sábado. </p>
        </div>

        <div class="instructions__cont">
            <img src="https://drive.google.com/uc?export=view&id=1rWFdzjYebzXaQC3Au0DSP3-Sz26ADJvS">
            <h2>Revisa el material de apoyo</h2>
            <p>Revisa las videorecetas, flowcharts, <br> insumos, tips de las recetas que hemos <br> programado y disfruta.</p>
        </div>
    </section>


    
    <a [routerLink]="'/quiz'" class="btn-flotante">Conoce ThinkingFood</a>

</body>
