<body>

    <main>

        <div class="content">

            <h1 class="title animate__animated animate__fadeInDown ">Organiza y crea el menu ideal para tu familia.</h1>
        <!--    <p class="subtitle"><strong>Obten practicidad al preparar la comida de la semana</strong> </p> -->
            <p clasS="copy-emojis d-flex flex-column">
                <span class="animate__animated  animate__fadeInDown animate__slow  ">¿Problemas con escoger entre tu cocina🥘 o tu tiempo⏳?</span>
                <small class="extended  animate__animated  animate__zoomIn  animate__delay-1s animate__slow fs-5">Con thinkingFood escoge las dos</small></p>
            <div class="d-flex justify-content-center animate__animated  animate__fadeInUp  animate__delay-1s  animate__slow">
                <img src="https://drive.google.com/uc?export=view&id=15oivkjfeADozpxmAv7B4I-aGGvkG5xjF" alt="caja con insumos frescos">
            </div>
            

        </div>

        
    </main>
    <section class="info grid-section">
        <div class="info__cont">
            <div class="info__cont__img">
                <img  src="https://drive.google.com/uc?export=view&id=1YuIEaOPRwlE_KF9wldRqxBzWzKtepZu9">
            </div>
            <div class="info__cont__title__cont">
            <h2>Ahorra tiempo a la semana</h2>
            <p>Comer saludable y agradable podría tomar en  la planificación hasta 25% del tiempo libre.  Ahorra esas horas y úsalas en otras  actividades.</p>
            </div>
        </div>

        <div class="info__cont reverse">
            <div class="info__cont__img">
                <img src="https://drive.google.com/uc?export=view&id=1Cr-NXDdesnX7qyhA-RkLWS-hZDvIdbxc">
            </div>
            <div class="info__cont__title__cont">
                <h2>Haz participar a la familia</h2>
                <p>Thinkingfood esta diseñado para personas que  no han tenido la experiencia de haber cocinado  para la familia antes. Permite que cada  integrante se sume a la cocina.</p>
            </div>
        </div>

        <div class="info__cont">
            <div class="info__cont__img">
                <img src="https://drive.google.com/uc?export=view&id=1-hxoOcJ4dAvFD6Fm5tBrlXsfFoUKfZdV">
            </div>
            <div class="info__cont__title__cont">
                <h2>Ahorra dinero</h2>
                <p>Thinkingfood confia en que las familias que  saben qué comprar y cuánto comprar ahorran  dinero.</p>
            </div>
            
        </div>
        <div class="info__cont reverse">
            <div class="info__cont__img">
                <img src="https://drive.google.com/uc?export=view&id=1YzE9zIOsfZK9-da7X5hfiydRipCk77Ri">
            </div>
            <div class="info__cont__title__cont">
                <h2>Evita desperdicios</h2>
                <p>Compra los ingredientes necesarios para tu cocina de la semana y dile adiós a las verduras que terminan dañandose por pasar mucho tiempo guardadas en tu refrigerador.</p>
            </div>
        </div>
    </section>

    <section class="instructions grid-section">
        <div class="info__cont">
            <div class="info__cont__img"> 
                <img class="img-bg" src="https://drive.google.com/uc?export=view&id=1pUpQo8ub3hfJU7JLKEb8_H2dIaC3lOyW">
            </div>
            <div class="info__cont__title__cont">
                <h2>Llena la trivia</h2>
                <p>Completa las preguntas que nos permitiran sugerirte el mejor plan semanal de acuerdo a tus gustos y  preferencias.</p>
            </div>
        </div>

    
            <div class="info__cont reverse">
                <div class="info__cont__img"> 
                    <img src="https://drive.google.com/uc?export=view&id=1u3Koaxsqh00XmnytqmotV8TlTm7ohBIT">
                </div>
            <div class="info__cont__title__cont">
                <h2 class="py-3">Navega por el plan</h2>
                <p>Revisa las recetas clasificadas por días de lunes a sábado. </p>
            </div>
        </div>



            <div class="info__cont ">
                <div class="info__cont__img"> 
                 <img src="https://drive.google.com/uc?export=view&id=1rWFdzjYebzXaQC3Au0DSP3-Sz26ADJvS">
                </div>
                <div class="info__cont__title__cont">
                    <h2 class="py-3">Revisa el material de apoyo</h2>
                    <p>Revisa las videorecetas, flowcharts, insumos, tips de las recetas que hemos programado y disfruta.</p>
                </div>
            </div>
      
    </section>

    <app-img-text 
    title="Llena la trivia" 
    text="Completa las preguntas que nos permitiran sugerirte el mejor plan semanal de acuerdo a tus gustos y preferencias"
    mobileImage="assets/images/landing/trivia-sm.png"
    desktopImage="assets/images/landing/trivia-lg.png"
    ></app-img-text>


    
    <a [routerLink]="'/quiz'" class="btn-flotante animate__animated  animate__delay-3s animate__zoomIn animate__slow">Conoce ThinkingFood</a>

</body>
