.content{
    width: 64px;
    min-width: 80px;
    height: 69px;
    min-height: 73px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 6px rgb(0, 0, 0, 0.3) ;
}

input {
    z-index: 2;
    position: absolute;
    top: 80px;
    width: 64px;
    height: 69px;
    border: 1px solid black;
    border-radius: 20px;
    appearance: none;
    cursor: pointer;
}


.image-container {
    width: 33px;
    height: 33px;
    background-color: #C4C4C4;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

p {
    font-size: 10px;
    font-weight: 500;
    color: black;
}

.seleccionado {
    background-color: #3DAC8C;
}

.noSeleccionado {
    background-color: white;
}