.container {
    width: 100%;
    height: 60px;
}

.container-title {
    width: 281px;
    height: 48px;
    text-align: center;
}

.container-title p {
    font-weight: bold;
    font-size: 22px;
}

.container-progresBar {
    width: 242px;
    height: 46px;
    font-weight: bold;
    text-align: center;
}

.progresBar {
    width: 100%;
    height: 24px;
}