<header>
    <nav class="shadow-sm">
        <input type="checkbox" id="ckbox">
        <label for="ckbox" class="drawer">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </label>
        

        <ul class="menu-box">
            <li><a routerLink="/" class="fa fa-home"> Home</a></li>
            <li><a routerLink="/quiz"  class="fa fa-calendar"> Plan Semanal</a></li>
            <!--
            <li><a href="#" class="fa fa-pencil"> Instrucciones</a></li>
            <li><a href="#" class="fa fa-envelope-open"> Sugerencias</a></li>
            <li><a href="#" class="fa fa-cog"> Configuracion</a></li>
            <li><a href="#" class="fa fa-user"> Cerrar Sesion</a></li>
            -->
        </ul>
        <img  routerLink="/" src="assets/images/Logo-2.png">
    </nav>
</header>