<header>
    <nav>
        <input type="checkbox" id="ckbox">
        <label for="ckbox" class="drawer">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </label>
        <img src="assets/images/Logo-2.png">

        <ul class="menu-box">
            <li><a href="#" class="fa fa-home"> Home</a></li>
            <li><a href="#" class="fa fa-calendar"> Plan Semanal</a></li>
            <li><a href="#" class="fa fa-pencil"> Instrucciones</a></li>
            <li><a href="#" class="fa fa-envelope-open"> Sugerencias</a></li>
            <li><a href="#" class="fa fa-cog"> Configuracion</a></li>
            <li><a href="#" class="fa fa-user"> Cerrar Sesion</a></li>
        </ul>
    </nav>
</header>