.container{
    width: 99px;
    min-width: 120px;
    height: 37px;
    border-radius: 15px;
    background-color: #B4B4B4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.increment {
    width: 37px;
    height: 38px;
    min-width: 45px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #65C8AC;
    top: -37px;
    left: -15px;
}

.decrement {
    width: 37px;
    height: 38px;
    min-width: 45px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #65C8AC;
    top: -37px;
    left: 16px;
}

input {
    width: 33px;
    min-width: 45px;
    height: 35px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

button {
    position: relative;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


@media(min-width:650px) {

    .increment {
        left: -19px;
    }
    
    .decrement {
        left: 19px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}