<footer>
    <a routerLink="/">
    <img class="logo py-3" src="https://drive.google.com/uc?export=view&id=1LOqjXkURBoh_ZpHKcLQdWN_0WA3rVd48">
    </a>
    <p class="text-light">Siguenos en nuestras redes:</p>
    <div class="icons d-flex justify-content-evenly w-100">

        <a href="https://www.facebook.com/ThinkingFood-2428850600679703">
            <img src="https://drive.google.com/uc?export=view&id=1d9OpfBucZNRzqDPjvhG9-ih9AHSUaN3g">
        </a>
      <!--  <img src="https://drive.google.com/uc?export=view&id=1wz8xpKzsBa68-IkywxlwWsNjzKLrwhvt"> -->
      <a href="https://instagram.com/thethinkingfood">
        <img class="insta" src="https://drive.google.com/uc?export=view&id=1bEYXZNQzGDY16gkJKd-xq9DEzMtVg5yt">
        </a>  
        <!-- <img src="https://drive.google.com/uc?export=view&id=1aegNZ9BJN-o-zSPB9yYh4EygIoz5oFLu"> --> 

    </div>
</footer>
