
footer{
    background-color: #22614F;
    color: var(--white-text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .logo img{
        height: 40vh;
        margin-bottom:2rem;
    }
    .icons img{
        height: 10vh;
        margin-bottom:2rem;
    }
}


/*
@media(max-width:1020px){

    footer{
        height: 55vh;
    }
   

}
*/