<footer>
    <img class="logo" src="https://drive.google.com/uc?export=view&id=1LOqjXkURBoh_ZpHKcLQdWN_0WA3rVd48">
    <p>Siguenos en nuestras redes:</p>
    <div>
        <img src="https://drive.google.com/uc?export=view&id=1d9OpfBucZNRzqDPjvhG9-ih9AHSUaN3g">
        <img src="https://drive.google.com/uc?export=view&id=1wz8xpKzsBa68-IkywxlwWsNjzKLrwhvt">
        <img src="https://drive.google.com/uc?export=view&id=1bEYXZNQzGDY16gkJKd-xq9DEzMtVg5yt">
        <img src="https://drive.google.com/uc?export=view&id=1aegNZ9BJN-o-zSPB9yYh4EygIoz5oFLu">

    </div>
</footer>
