:host {
    display: block;
    align-items: center;
}
h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.container-fluid {
    width: 280px;
    min-width: 400px;
    height: auto;
    margin: 0 auto;
    display: block;
    /* border: 1px solid #3DAC8C; */

}
button {
    width: 91px;
    height: 29px;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 10px auto;
    color: white;
    background-color: #3DAC8C;
}

@media(min-width:650px) {

    h2 {
        font-size: 24px;
    }

    button {
        width: 150px;
    }
}